---
import StationSearch from '$lib/forms/StationSearch.astro';
import Global from '$layouts/Global.astro';
---

<Global>
    <h3>Live Train Times</h3>
    <StationSearch endpoint="/tools/live-trains/search" />
</Global>
