---
interface Props {
    endpoint: string
}

const { endpoint }  = Astro.props;
---

<form action={endpoint}>
	<label>
	    <span class="sr-only">Station Name/CRS/TIPLOC</span>
		<input
			type="search"
			name="q"
			placeholder="CRS, Station Name, TIPLOC..."
			required
		/>
	</label>
</form>

<style lang="scss">
	form {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;

		label {
			flex-grow: 1;
		}
	}
</style>
