---
import { actions } from 'astro:actions';

const result = Astro.getActionResult(actions.stationSearch);
---

<form action={actions.stationSearch} method="POST">
	<label>
		<span class="sr-only">Station Name/CRS/TIPLOC</span>
		<input
			type="search"
			name="query"
			value={result?.data?.query || ''}
			placeholder="CRS, Station Name, TIPLOC..."
			required
		/>
	</label>
</form>

{
	Array.isArray(result?.data?.matches) && (
		<section>
			<h4>Results:</h4>

			<ul>
				{result.data.matches.map((match) => (
					<li>
						<a href={`${Astro.url.pathname}/${match.item.crs}`}>
							{match.item.name}
						</a>
					</li>
				))}
			</ul>
		</section>
	)
}

<style lang="scss">
	form {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;

		label {
			flex-grow: 1;
		}
	}

	ul {
		margin: 12px 0px;

		li {
			text-transform: capitalize;
		}
	}
</style>
